{% load static %}
html(lang="en")
head
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
	meta(ame='author', content='Groupster')
	title Groupster
	script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js')
	script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
	link(rel='stylesheet', href="{% static 'css/animate.css' %}")
	link(rel='stylesheet', href="{% static 'css/simple-line-icons.css' %}")
	link(rel='stylesheet', href="{% static 'css/style.css' %}")
	
	
body
	#wrap
		header#header
			.container
				ul.soc_nav
					li
						a.icon-social-facebook(href='http://facebook.com/groupster')
					li
						a.icon-social-twitter(href='http://twitter.com/groupsterapp')
				a.logo(href="{% url 'landing' %}")
					img(src="{% static 'img/logo.png' %}", alt="Best start for your business", heigth='40', width='45')
				a.nav_button(href='mailto:info@groupsterapp.com') Contact Us
				a.nav_button(href="{% url 'about' %}") About
				a.nav_button(href="{% url 'jobs' %}") Jobs
		section#intro
			.container
				.row
					.col-lg-6.col-md-6.col-sm-6
						.slogan
							h2.wow.fadeInRight(data-wow-delay='0.6s', data-wow-duration='0.5s') Let's Chill
							h3.wow.fadeInLeft(data-wow-delay='0.9s', data-wow-duration='0.5s') A mobile app focused on meeting new people with your friends by your side
					
					.col-lg-4.col-lg-offset-2.col-md-5.col-sm-6
						form#register_form(role='form', method='POST', action="//groupsterapp.us10.list-manage.com/subscribe/post?u=ab2a75d339b59ea4b136ac613&amp;id=8363926669")
							- csrf_token
							.title1.wow.flipInX(data-wow-duration='0.6s') Sign Up for Launch Date
							.form-group
								input#username.form-control.wow.flipInX(type='text', data-wow-delay='1.2s', data-wow-duration='0.2s', placeholder='First Name', name='FNAME')
							.form-group
								input#password.form-control.wow.flipInX(type='password', data-wow-delay='1.4s', data-wow-duration='0.2s', placeholder='Last Name', name='LNAME')
							.form-group
								input#email.form-control.wow.flipInX(type='email', data-wow-delay='1s', data-wow-duration='0.2s', placeholder='Email Address', name='EMAIL')
					
							button#signup.btn.btn_start.wow.flipInX(type='submit', value="Subscribe", data-wow-delay='1.6s', data-wow-duration='0.2s') START
						
			#slides(data-stellar-ratio='0.4')
				.slides-container
					img(src="{% static 'img/1.jpg' %}", alt='')
					img(src="{% static 'img/2.jpg' %}", alt='')
					img(src="{% static 'img/3.jpg' %}", alt='')

		

		
		
					

	

script(src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js")
script(src="{% static 'js/mailchimp.js' %}")
script(src="{% static 'js/owl.carousel.min.js' %}")
script(src="{% static 'js/jquery.validate.min.js' %}")
script(src="{% static 'js/wow.min.js' %}")
script(src="{% static 'js/smoothscroll.js' %}")
script(src="{% static 'js/jquery.stellar.min.js' %}")
script(src="{% static 'js/jquery.superslides.min.js' %}")
script(src="{% static 'js/placeholders.jquery.min.js' %}")
script(src="{% static 'js/custom.js' %}")

